*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --text-color:#828187;
    --main-text-color:#fff;
    --hover-color:#C4C3C5;
    --side-bar-bg:#2B2931;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%
}

body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #1F1D24;
    color:var(--text-color);
    
}

.primary-heading{
    font-size: 4.6rem;

}

.secondary-heading{
    font-size: 2.8rem;
}

.teritory-heading{
    font-weight: 400;
    font-size: 1.8rem;
}

.other-heading{
    font-size: 1.2rem;
    font-weight: 400;
}

.grid{
    display: grid;
}

.grid--col2{
    grid-template-columns: repeat(2,1fr);
}

.grid--col3{
    grid-template-columns: repeat(3,1fr);
}

.grid--col4{
    grid-template-columns: repeat(4,1fr);
}

.grid--col5{
    grid-template-columns: repeat(5,1fr);
}

#delete{
    background-color: orangered;
}

#icon{
    font-size: 1.8rem;
    cursor: pointer;
}